html {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Helvetica;
    box-sizing: border-box;
    color: #faac8e;
    text-shadow: 2px 2px 2px #000000;
}

body {
    text-align: center;
    height: min-content;
}

.container {
    background-color: rgba(80, 107, 187, 0.099);
    width: 75%;
    border-radius: 10px;
    margin: 0 auto;
    height: min-content;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 5%;
    margin-top: 4%;
    margin-bottom: 5%;
}

h1 {
    margin-top: 5%;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin: auto 5%;
}

h3 {
    font-size: 1.5em;
}

.text p {
    width: 75%;
    margin: 0 auto;
    font-size: 1.3em;
}